<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sentimental</title>
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="navbar">
            <div class="navbar-header">
                <a href="/" title="wink" class="navbar-brand">
                    winknlp-js
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="main-nav">
                <li><a href="https://winkjs.org/packages.html" class="">Sentiment</a></li>
                <li><a href="https://winkjs.org/showcase.html" class="">Keyword Extraction</a></li>
                <li><a href="https://winkjs.org/blog.html" class="">Word Embeddings</a></li>
                <li><a href="http://github.com/winkjs">Github</a></li>
                <li><a href="https://winkjs.org/about.html" class="">About</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        
        <form method="POST" action="/">
            <div class="form-group">
                <h4 style="text-align: center">Extraction</h4>
                <input name="f1" type="text" class="form-control" id="f1"
                    placeholder="Enter a word">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container">
        <form method="POST" action="/">
            <div class="form-group">
                <h4 style="text-align: center">Similarity</h4>
                <input name="sim1" type="text" class="form-control" id="sim1"
                    placeholder="Enter email">
                <br>
                <input name="sim2" type="text" class="form-control" id="sim2"
                    placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container">
        <form method="POST" action="/">
            <div class="form-group">
                <h4 style="text-align: center">Word Analogy</h4>
                <input name="wa1" type="text" class="form-control" id="wa1"
                    placeholder="Enter email">
                <br>
                <input name="wa2" type="text" class="form-control" id="wa2"
                    placeholder="Enter email">
                <br>
                <input name="wa3" type="text" class="form-control" id="wa3"
                    placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


</body>

</html>